<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369228009103-17iktvfaj9jfnsvh0fs64sk4jqcdvs57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369228009103-17iktvfaj9jfnsvh0fs64sk4jqcdvs57</string>
	<key>API_KEY</key>
	<string>AIzaSyBy48cboRTaAK_rIKQyvfniMd2R4LZ1OnE</string>
	<key>GCM_SENDER_ID</key>
	<string>369228009103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.just</string>
	<key>PROJECT_ID</key>
	<string>just-f3525</string>
	<key>STORAGE_BUCKET</key>
	<string>just-f3525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369228009103:ios:202d0b3c55d39ec5caeafa</string>
</dict>
</plist>